.openFormButtonGroup {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    height: 36px;
    width: 272px;
    padding-left: 10px;
}

.formButtonGroup {
    margin-top: 8px;
    display: flex;
    align-items: center;
}