.container {
   background-color: #ccc;
   border-radius: 3px;
   width: 300px;
   height: 100%;
   padding: 8px;
   margin-right: 8px;
}

.listsContainer {
   display: flex;
   flex-direction: row;
}